@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:host {
  display: block;
}

.sale{
  background-color: black;
  text-align: center;
  height: 13vh;
  padding-top: 7%;
  padding-left: 15%;
  padding-right: 15%;

}

.sale p1{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 100;
  margin-bottom: 5px;
}

.sale p2{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 400;
}