:host {
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto+Mono:wght@300&display=swap");

.headline {
  text-align: center;
  font-size: 2.1em;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 5%;
}

.wrapper {
  background-color: white;
  height: 12vh;
  justify-content: center;
  padding: 8px;
  border-bottom: 1px solid black;
}
.headline p {
  margin: 0;
}
.search {
  float: right;
  margin-right: 6%;
  margin-left: 6%;
}

.headline.search {
  position: flex;
  flex-direction: row;
}
#searchInput {
  width: 150px;
  height: 20px;
  margin: 10px 10px;
  display: none;
}

#searchInput:focus {
  background-color: red;
}

.input {
  width: 150px;
  height: 20px;
  margin: 10px 10px;
}
