:host {
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto+Mono:wght@300&display=swap");

.headline {
  text-align: center;
  font-size: 2.1em;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 5%;
}

.wrapper {
  background-color: white;
  height: 12vh;
  justify-content: center;
  padding: 8px;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  z-index: 17;
}
.headline p {
  margin: 0;
}
.search {
  margin-right: 6%;
  margin-left: 6%;
  text-align: right;
}

#searchInput {
  width: 280px;
  height: 25px;
  position: relative;
  background-color: white;
  display: none;
  float: left;
  padding-top: 5px;
  border-bottom: solid 0.5px black;
}

input {
  border: none;
  color: grey;
}

#searchInput:focus {
  background-color: white;
}
