:host {
  display: block;
}

.background {
  background-color: #e1e0dd;
  width: 90%;
  height: 300px;
  margin: 4%;
}

.background a img{
  width: 88%;
  margin: 5%;
}

#product-name {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 5px;
}
#heart {
  z-index: 5;
  width: 17px;
  padding-left: 35%;
  padding-top: 4%; 
  position: absolute;
}
