:host {
  display: block;
}

.background {
  background-color: #e1e0dd;
  width: 90%;
  height: 300px;
  margin: 4%;
}

.background a img{
  width: 88%;
  margin: 5%;
}

#product-name {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 5px;
}
#heart img {
  z-index: 5;
  position: absolute;
  padding-top: 4%;
  padding-left: 33%;
}


.changeHeart{ 
  z-index: 5;
  background-image: url(../Bilder/heart-schwarz.png);
  background-repeat: no-repeat;
  background-position: 124px 15px;
  background-size: 24px;
}