@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
:host {
  display: block;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 6%;
  margin: 0;
}

.header {
  height: 10vh;
  -webkit-box-shadow: 0 6px 6px -6px black;
  -moz-box-shadow: 0 6px 6px -6px black;
  box-shadow: 0 6px 6px -6px black;
}

.cancel span {
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: black;
}

.cancel span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}

.cancel span:nth-child(2) {
  transform: translateY(-4px) rotate(135deg);
}

.cancel {
  float: right;
  margin-top: 9%;
  margin-right: 6%;
}
.category p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-left: 10%;
}

.popUp {
  background-color: white;
  height: 75vh;
}
.category {
  height: 7vh;
  border-bottom: solid 0.6px black;
  padding: 3%;
}
.btn-filter {
  background-color: black;
  height: 8vh;
  margin: 1vh;
}

.btn-filter p {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 5%;
}

.change {
  background-color: black;
}

.change p {
  color: white;
  font-weight: 500;
  background-color: black;
}
